*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #5d0682 0%, #008ca8 100%);
    overflow: hidden;
}

#tabuleiro-principal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.caixa-grande {
    height: 250px;
    width: 250px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloqueada{
    height: 245px;
    width: 245px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: rgb(194, 46, 46);
    opacity: 50%;
}

.sub-tabuleiro{
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.caixa-pequena{
    height: 67px;
    width: 67px;
    border: 3px solid #ffffff;
}

:nth-child(1) ,:nth-child(2) ,:nth-child(3){
    border-top: 0px;
}

:nth-child(1) ,:nth-child(4) ,:nth-child(7){
    border-left: 0px;
}

:nth-child(3) ,:nth-child(6) ,:nth-child(9){
    border-right: 0px;
}

:nth-child(7) ,:nth-child(8) ,:nth-child(9){
    border-bottom: 0px;
}

.info {
    width: 470px;
    height: 470px;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
}

.info p {
    padding: 5px 0;
}